{% extends 'base.html' %}
{% load static %}
{% block title %}Papers | paperrank{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/paper_list.css' %}">
{% endblock %}
{% block contents %}
  <h1>Papers</h1>
  <hr/>
  <table id="papers" class="u-full-width">
    <thead>
      <tr>
        <th class="publisher">Publisher</th>
        <th class="title">Title</th>
        <th class="author">Author</th>
      </tr>
    </thead>
    <tbody>
    {% for paper in papers %}
      <tr>
        <td>{{ paper.publisher.name }}</td>
        <td>{{ paper.title }}</td>
        <td>{{ paper.short_author }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
