{% extends 'base.html' %}
{% load static %}
{% block title %}Ranking{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/rank.css' %}">
{% endblock %}
{% block contents %}
  <h1>Ranking</h1>
  <div class="row years">
  <div class="three columns prev">
    <a href="{% url 'ranking:rank' %}?year={{ year|add:-1 }}"><< {{ year|add:-1 }}</a>
  </div>
  <div class="six columns current">{{ year }}</div>
  <div class="three columns next">
    <a href="{% url 'ranking:rank' %}?year={{ year|add:1 }}">{{ year|add:1 }} >></a>
  </div>
  </div>
  <hr>
  {% if publishers %}
  <table id="rank" class="u-full-width">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Publisher Name</th>
        <th>Score</th>
        <th class="delta">Delta</th>
      </tr>
    </thead>
    <tbody>
    {% for publisher in publishers %}
      <tr>
        <td>{{ publisher.ranking }}</td>
        <td>{{ publisher.publisher__name }}</td>
        <td>{{ publisher.score_sum|floatformat:2 }}</td>
        <td class="delta">
          {% if publisher.delta > 0 %}
            <div class="gt">▲ {{ publisher.delta_abs }}</div>
          {% elif publisher.delta < 0 %}
            <div class="lt">▼ {{ publisher.delta_abs }}</div>
          {% else %}
            <div class="eq">-</div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="row">
      <div class="twelve columns no-data">NO DATA AVAILABLE</div>
    </div>
  {% endif %}
{% endblock %}
