{% extends 'base.html' %}
{% block title %}Ranking{% endblock %}
{% block contents %}
  <h1>Ranking</h1>
  <hr>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Publisher Name</th>
        <th>Score</th>
        <th>Delta</th>
      </tr>
    </thead>
    {% for publisher in publishers %}
      <tr>
        <td>{{ publisher.ranking }}</td>
        <td>{{ publisher.publisher__name }}</td>
        <td>{{ publisher.score_sum|floatformat:2 }}</td>
        <td>{{ publisher.delta }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
