.years {
    display: flex;
    align-items: center;
}
.years a {
    text-decoration: none;
    color: #888;
}
.years .prev {
    text-align: left;
    font-size: 2rem;
}
.years .current {
    text-align: center;
    font-size: 3rem;
}
.years .next {
    text-align: right;
    font-size: 2rem;
}
.no-data {
    font-size: 1.2em;
    text-align: center;
}
